// Font Colors
$text-color: #292929;

// Primary Colors
$primary-blue-color: #00B2E2;
$primary-yellow-color: #FFE800;
$secondary-blue-color: #0075C9;
$secondary-blue-dark-color: #0033A1;
$secondary-yellow-color: #F3C300;
$secondary-yellow-dark-color: #F5A800;

// Grayscale Colors
$dark-gray-color: #41464D;
$gray-80-color: #70747A;
$gray-60-color: #A0A3A6;
$gray-40-color: #CFD1D3;
$gray-20-color: #E7E7E8;
$light-gray-color: #FAFAFB;
$white-color: #fff;

// Experimental Colors
$experimental-orange-color: #FF9015;
$experimental-red-color: #E1251B;