// Font Colors
$text-color: #292929;

// Primary Colors
$primary-red-color: #F7484E;
$primary-blue-color: #035DAE;
$dark-red-color: #772326;
$dark-blue-color: #023B6E;

// Grayscale Colors
$dark-gray-color: #41464D;
$light-gray-color: rgb(207, 207, 207);
$white-color: #fff;
