// Font Colors
$text-color: #292929;

// Primary Colors
$primary-blue-color: #035DAE;
$primary-red-color: #E1251B;
$dark-blue-color: #023B6E;
$dark-red-color: #61100C;

// Grayscale Colors
$dark-gray-color: #41464D;
$light-gray-color: #FAFAFB;
$white-color: #fff;
