.section-wrapper {
  .title-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 72px;
    }
  }
  .paragraph-header {
    margin: 60px 0 0;
    @include prefix(position, sticky);
    position: -webkit-sticky;
    top: 0;
    padding: 20px 0 30px;
    background: rgba(255, 255, 255, 0.95);
    &:first-of-type {
      margin-top: 0;
    }
    h4 {
      font-size: 28px;
      border-bottom: 1px solid $text-color;
      display: inline-block;
    }
  }
}