.nav {
  background: linear-gradient(-210deg, $primary-red-color 60%, darken($primary-red-color, 20%));
  height: calc(100vh + 2px);
  width: 75vw;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  animation-duration: .25s;
  ul {
    display: flex;
    flex-direction: column;
  }
  li {
    font-size: 32px;
    line-height: 48px;
    margin: 20px 0;
    text-align: center;
    @include font-family('Shadows Into Light');
    color: $white-color;
    cursor: pointer;
    @include transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  @media only screen and (min-width: $screen-sm) {
    max-width: 500px;
  }
}