.banner {
  height: calc(100vh - 118px);
  background: $text-color;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    width: 90%;
    max-width: 400px;
    position: absolute;
    bottom: -100px;
  }
  h1 {
    font-size: 96px;
    position: relative;
    top: -100px;
  }
  @media only screen and (min-width: $screen-sm) {
    h1 {
      top: 0;
      font-size: 120px;
    }
    img {
      bottom: 0;
      right: 0;
    }
  }
}